*,*::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --color-primary : white;
}

html{
  font-size: 62.5%;
  padding: 2rem;
}

body{
  background-color: var(--color-primary);
  font-size: 1.6rem;
}

h1{
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 7px;
  color: white;
}

h2{
  
  font-size: 4rem;
  letter-spacing: 2.5px;
  font-weight: 500;
  text-align: center;
  color: rgb(100, 98, 98);
  margin-bottom: 5rem;
}

h3{
  color: rgb(48, 47, 47);
}

.paragraph{
  font-size: 2rem;
  color: white;
  letter-spacing: 1.5px;

}

@media (max-width : 900px)
{
  h1{
    font-size: 3rem;
    letter-spacing: 5px;
  }
  .paragraph{
    font-size: 1.5rem;  
  }

}

@media (max-width : 600px)
{
  html{
    font-size: 62.5%;
    padding: 0;
  }
  h1{
    font-size: 1.7rem;
    letter-spacing: 3px;
  }
  .paragraph{
    font-size: 1rem;  
  }

  h2{
    font-size: 3rem;
  }

}